<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body onload="setAuthHeader()">
  <script>
    function setAuthHeader() {
      const token = localStorage.getItem("token");
      console.log(token, 'token...')
      fetch('/checkUser', {headers: { Authorization: "Bearer " + token}})
      .then((response) => {
        console.log(response.status)
        response.json()
        .then((data) => {
          console.log(data)
        })
      })
      .catch((err) => {
        console.error(error)
        res.send('Authentication invalid')
      })
    }
  </script>
</body>
</html>